.wy-menu-vertical header, .wy-menu-vertical p.caption {
	color: gold;
	font-size: 95%;
}
.wy-side-nav-search
{
	color: #cacaca;
	background: #2C2A50;
}
.wy-side-nav-search input[type=text] {
	border-color: #716EA1;
}
